<!doctype html>
<html>
<head>
	<title>Andrew Du</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
  </script>

  {{{body}}}    
    
</body>
</html>