<div class="wrapper">
	<h1>Hangman and Socket.IO</h1>
</div>
<div class="wrapper">
	<div id="buttons">
	</div>  
	<p id="catagoryName"></p>
	<div id="hold">
	</div>
	<p id="mylives"></p>
</div>
<div>
credits to: <a href='http://codepen.io/cathydutton/pen/ldazc'>http://codepen.io/cathydutton/pen/ldazc
</div>


<link rel="stylesheet" type="text/css" href="css/index.css">
<script type="text/javascript" src="js/index.js"></script>
