<div class="wrapper">
	<h1>Hangman and Socket.IO</h1>
</div>
<div class="wrapper">
	<div id="buttons">
	</div>  
	<p id="catagoryName"></p>
	<div id="hold">
	</div>
	<p id="mylives"></p>
</div>
<span class="container">
	<span id="connected" class="animated bounce"></span> homies
</span>
<div>
credits to: <a href='http://codepen.io/cathydutton/pen/ldazc'>http://codepen.io/cathydutton/pen/ldazc</a>
</div>

<footer>
	<div class="bottom">
		<span>
			<a href="http://github.com/aaandrew">Github</a>
		</span>
		<span>
			<a href="http://www.linkedin.com/in/duandrew">LinkedIn</a>
		</span>
		<span>
			<a href="http://codepen.io/aaandrew">Codepen</a>
		</span>
	</div>
</footer>

<link rel="stylesheet" type="text/css" href="css/index.css">
<script type="text/javascript" src="js/index.js"></script>
