{{#extend "css"}}
<link rel="stylesheet" href="/css/index.css"/>
{{/extend}}

<section class="welcome">
  <div class="wrapper">
    <div class="title">Hi I'm Andrew!</div>
    <div class="details">I’m currently an undergraduate student studying computer science at UCSD</div>
    <div class="links">
      <a href="https://codepen.io/aaandrew">codepen</a>
      <a href="https://www.github.com/aaandrew">github</a>
      <a href="https://www.linkedin.com/in/duandrew">linkedin</a>
      <a href="https://www.dropbox.com/s/yotytozvsfihw9g/AndrewDuResumePublic.pdf">resume</a>
    </div>
  </div>
</section>

<section class="hangman-container">
  <div class="wrapper">
    <h1>Hangman and Socket.IO</h1>
    <div>
      <div id="buttons">
      </div>  
      <p id="catagoryName"></p>
      <div id="hold">
      </div>
      <p id="mylives"></p>
    </div>
    <span class="container">
      <span id="connected" class="animated bounce"></span> homies
    </span>
    <div class="credits">
    credits to: <a href='https://codepen.io/cathydutton/pen/ldazc'>codepen.io/cathydutton/pen/ldazc</a>
    </div>
  </div>
</section>

{{#extend "js"}}
<script src="/js/index.js"></script>
{{/extend}}